@model IEnumerable<ProjetMVC.Models.Certificat>

@{
    ViewBag.Title = "Certificat";
    Layout = "~/Views/Shared/_EssaiLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Certificat</h2><br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CertificatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateBegin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeaponID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CertificatID))
        </td>
        <td>
            @Html.Label(item.DateBegin.ToShortDateString())
            
        </td>
        <td>
            @Html.Label(item.DateEnd.ToShortDateString())
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weapon.WeaponModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CertificatID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CertificatID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CertificatID })
        </td>
    </tr>
        }
    </table>
</body>
</html>
